// VARIABLES
$primary-dark: rgb(47, 48, 51) ;
$primary-bright: #E8CDB2 ;
$accent: #1A4735 ;
$red: #c0392b;
$green: rgba(46, 204, 113,1.0);
$blue: rgba(52, 152, 219,1.0);
$yellow: rgba(241, 196, 15,1.0);
$torquise: rgba(26, 188, 156,1.0);
$orange: rgba(230, 126, 34,1.0);
$purple: rgba(155, 89, 182,1.0);
$black: rgba(45, 52, 54,1.0);
$white: #f5f6fa;
$grey: rgba(178, 190, 195,1.0);

// GLOBAL STYLES
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    color: $black;
}

.btn{
    padding: .5rem;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;

    font-weight: bold;
    background-color: $primary-bright;
    color: $primary-dark;
    border: 0.1vw solid $primary-dark;
    text-align: center;
    margin: 0 0.5vw;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    // box-shadow: 4px 4px 6px rgba(0, 0, 0, .6);
    
    &:hover{
        background-color: $primary-dark;    
        color: $primary-bright;
        border-color: $primary-bright;
    }  

    &:active{
        box-shadow: 0.1vw 0.1vw black;
        transform: translateY(0.2vw)
    }
}

.hr{
    width: 90%;
    height: 1px;
    background: rgb(236,240,241);
    background: linear-gradient(90deg, $white 0%, $grey 15%, $grey 85%, $white 100%);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-left: 150%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }