@import "_global";
@import "_nav-bar";
@import "_search-area";
@import "_results";

body{
    background-color: $white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#Upper{
    text-transform: capitalize;
}

.avgTemp{
    font-size: 3vw;
}

#show-saved-searches-btn{
    position: relative;;
    
    .saved-msg{
        clip-path: polygon(50% 0%, 65% 15%, 100% 15%, 100% 100%, 0 100%, 0 15%, 35% 15%);
        display: none;
        position: absolute;
        top:120%;
        left: -6%;
        width: 110%;
        font-size: 1.2vw;
        padding: 1em;
        padding-top: 1.5em;
        background-color: $white;
    }
}


.input-error{
    box-shadow: inset 0 0 4px red;
}

.dash{
    padding-top: 1.5vh;
}

.from-city-value{
    text-transform: capitalize;
}
