@import "_global";

body{
    background-color: $white;
}

.nav-bar{
    background-color: $white;
    height: 8vh;
    padding: 1vh 0.3vw;

    .logo{
        float: left;
        width: 3vw;
        height: 6vh;
    }
    .btn{
        background-color: $primary-dark;
        color: $primary-bright;
        float: right;

        &:hover{
            background-color: $primary-bright ;
            color: $primary-dark;
        }  

    }
   
}

.main-display{
    background-image: url("../assets/road2.jpg");
    background-size: cover;

}

.app-name{
    font-family: 'Old Standard TT', serif;
    font-family: bold;
    font-size: 9vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 11vh;
    padding-left: 3.8vw;
    text-shadow: 0.2vw 0.1vh $white;
}

#container-search-btn{
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#search-btn{
    font-size: 2vw;
}

#container-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 7vh 12vw;
}



.input-box{
    display: flex;
    flex-direction: column;
    margin: 1vh 2vw;
}

.search-input{
    border: none;
    height: 5vh;
    margin: 0.5vh 0;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.3vw;
}

.btn{
    background-color: $primary-bright;
    color: $primary-dark;
    border: 0.2vw solid $primary-dark;
    text-align: center;
    margin: 0 0.5vw;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    
    &:hover{
        background-color: $primary-dark;
        color: $primary-bright;
    }  
}

#container-results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vh 0vw;
    justify-content: flex-start;
}

.flight{
    display: grid;
    grid-template-areas: 
    "n n"
    "d w";
    border: 0.5vw solid $accent;
    margin: 2vw 3vh;
    border-radius: 1vw;
    background-color: $primary-bright;
    width: 30vw;
    
    .flight-city-name{
        grid-area: n;
        font-family: 'Londrina Shadow', cursive;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
    }
    .flight-details{
        grid-area: d;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .city-weather{
        grid-area: w;
        padding: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .conditionPic{
        height: 7vh;
        width: 3vw;
    }
    
}

.no-result{
    border: 0.5vw solid $primary-dark;
    height: auto;
    font-size: 5vw;
    margin: 5vh auto;
    padding: 5vw;

}

.search{
    background-color: $primary-bright;
    color: $primary-dark;
    border: 0.5vw solid $primary-dark;
    font-size: 1vw;
    margin: 1vh 1vw;
    padding: 1vw;
    height: auto;
    width: 30vw;
    border-radius: 1vw;
    // hi



    .delete-saved-search-btn{
        font-size: 0.8vw;
        width: 5vw;
        background-color: rgb(68, 15, 15);
        color: rgb(244, 244, 252);
        float: right; 
        margin-top: 2vh;       

        &:hover{
            background-color: rgb(244, 244, 252);
            color: rgb(68, 15, 15);
        }
    }

    .search-para{
        padding: 0.3vh 0.5vw;
    }
}